/* __V3D_TEMPLATE__ - template-based file; delete this line to prevent this file from being updated */
html {
	background-color: #181818;
}
* {
	font-family: 'Poppins', sans-serif;
}
.dropbtn,
.pisobtn,
.anaquelbtn,
.reclinerbtn,
.extrabtn {
	color: #696968;
	border: none;
	background-color: transparent;

	font: normal 1rem / 1.2 'Poppins', sans-serif;
}
body {
	margin: 0px;
	overflow: hidden;
}
.movementArrows {
	display: flex;
	align-items: center;
}
.controls {
	display: grid;
	opacity: 0;
	transform: translate3d(130%, 0, 0);
	position: absolute;
	bottom: 2%;
	right: 2%;
	transition: ease 2s;
}
.showUI {
	transform: translate3d(0, 0, 0) !important;
	opacity: 1 !important;
}

path {
	stroke: white;
	stroke-width: 0.5px;
}
.recliner-content > * {
	cursor: pointer;
}
.extra-content > * {
	cursor: pointer;
}
#v3d-container {
	position: relative;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	/* z-index: -1; */
}

.fullscreen-button {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 50px;
	height: 50px;
	cursor: pointer;
	background-size: 100% 100%;
	display: none;
	z-index: 1;
}
.okayBtn {
	font-size: 1rem;
	font-weight: bold;

	padding: 0.5rem 2.5rem;

	background: #a3a3a2;
	border: none;
	border-radius: 1rem;

	color: white;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	cursor: pointer;
	pointer-events: all;
	transition: all 0.5s ease;
}
.okayBtn:hover {
	box-shadow: none;
}
.fullscreen-open {
	background-image: url('media/fullscreen_open.svg');
}

.fullscreen-close {
	background-image: url('media/fullscreen_close.svg');
}

/* removes tap blinking on ios devices */
* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Dark Theme */

.v3d-simple-preloader-background {
	background-color: #181818;
}

.v3d-simple-preloader-container {
	filter: drop-shadow(0px 0px 4px #2a69bd);
}
/*estilo de menu mueble*/
/* Dropdown Button */

.ocultarbtn {
	font: normal 1.5rem / 1.2 'Poppins', sans-serif;
	color: #0097ae;
	background-color: transparent;
	font-weight: bold;
	border: none;
}
.ocultar {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 0.5rem;
}

/* The container <div> - needed to position the dropdown content */

.piso,
.ocultar,
.anaquel,
.recliner,
.extra,
.dropdown {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content,
.piso-content,
.anaquel-content,
.recliner-content,
.extra-content {
	z-index: 1;
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	margin-left: 1.2rem;
}

/* Links inside the dropdown */

.piso-content,
.anaquel-content,
.recliner-content,
.extra-content,
.dropdown-content a {
	text-decoration: none;
}
#arrow {
	fill: #0097ae;
	width: 1.5rem;
	filter: drop-shadow(0px 0px 1px rgba(255, 255, 255, 0.24));
	filter: url(#blurFilter);
	-webkit-filter: url(#blurFilter);
	-moz-filter: url(#blurFilter);
	-o-filter: url(#blurFilter);
	-ms-filter: url(#blurFilter);
	cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdown-content div:hover {
	/* opacity: 0.3; */
	box-shadow: 0 0 15px 3px #ffffff;
}
.piso-content div:hover {
	box-shadow: 0 0 15px 3px #ffffff;
}
.anaquel-content div:hover {
	box-shadow: 0 0 15px 3px #ffffff;
}
.recliner-content div:hover {
	box-shadow: inset 0 0 15px 3px #ffffff, 0 0 15px 3px #ffffff;
}
.extra-content div:hover {
	box-shadow: inset 0 0 15px 3px #ffffff, 0 0 15px 3px #ffffff;

	/* filter: drop-shadow(0 0 0.75rem crimson); */
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: flex;
	align-items: flex-start;
}
.piso:hover .piso-content {
	display: flex;
	align-items: flex-start;
}
.anaquel:hover .anaquel-content {
	display: flex;
	align-items: flex-start;
}
.recliner:hover .recliner-content {
	display: flex;
	align-items: flex-start;
}
.extra:hover .extra-content {
	display: flex;
	align-items: flex-start;
}
/* Change the background color of the dropdown button when the dropdown content is shown */

.contenedor_personalizar {
	opacity: 0;
	transform: translate3d(-130%, 0, 0);
	display: flex;
	flex-direction: column;
	width: max-content;
	gap: 0.7rem;
	margin-left: 5%;
	margin-top: 3rem;
	border-radius: 1rem;
	padding: 1rem;
	background: rgba(255, 255, 255, 0.65);
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	overflow: hidden;
	max-height: 2rem;
	transition: max-height 0.5s ease-in-out, transform 1s ease;
	z-index: 150;
}
.movement {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}
.camera {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
	justify-self: stretch;
	align-items: center;
}
.rightC {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	animation: rightC 1.5s ease infinite alternate;
}
.wasd {
	display: grid;
}
#W,
#A,
#S,
#D {
	/* width: 3rem; */
	width: calc(30px + (57 - 30) * ((100vw - 320px) / (1440 - 320)));
	animation: grow 1s ease infinite alternate;
}
#rightC {
	width: calc(30px + (57 - 30) * ((100vw - 320px) / (1440 - 320)));
}
#walk {
	width: calc(30px + (52 - 30) * ((100vw - 320px) / (1440 - 320)));
}
#eye {
	width: calc(35px + (55 - 35) * ((100vw - 320px) / (1440 - 320)));
}

#A {
	animation-delay: 0.5s;
}
#S {
	animation-delay: 1s;
}
#D {
	animation-delay: 1.5;
}
.piso1 {
	background-image: url('uisuejgl_2K_Albedo.jpg');
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.piso2 {
	background-image: url('udlxbgtl_2K_Albedo.jpg');
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.piso3 {
	background-image: url('vetldicv_2K_Albedo.jpg');
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.piso-content > div {
	width: 2rem;
	height: 2rem;
	border-radius: 0.5rem;
	transition: all 0.5s ease;
}

.dropdown-content > div {
	width: 2rem;
	height: 2rem;
	border-radius: 0.5rem;
	transition: all 0.5s ease;
}
.anaquel-content > div {
	width: 2rem;
	height: 2rem;
	border-radius: 0.5rem;
	transition: all 0.5s ease;
}
.recliner-content > div {
	width: 2rem;
	height: 2rem;
	border-radius: 0.5rem;
	transition: all 0.5s ease;
}
.extra-content > div {
	width: 2rem;
	height: 2rem;
	border-radius: 0.5rem;
	transition: all 0.5s ease;
}
.recliner-content > div > img {
	width: 2rem;
	height: 2rem;
}
.extra-content > div > img {
	width: 2rem;
	height: 2rem;
}

.color1 {
	background-color: #2a69bd;
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.color2 {
	background-color: #81c479;
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.color3 {
	background-color: whitesmoke;
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.shelve1 {
	background-image: url('T_Anaquel_Salmon.jpg');
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.shelve2 {
	background-image: url('T_Anaquel_Black.jpg');
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.shelve3 {
	background-image: url('T_Anaquel_Brown.jpg');
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.info {
	transition: all 1s;
	position: absolute;
	display: flex;
	flex-direction: column;

	top: 5%;
	right: 5%;
	opacity: 0;
	pointer-events: none;
}
/* .info {
	transition: all 1s;
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 5%;
	right: 5%;
	opacity: 0;
	pointer-events: none;
} */
.welcome {
	z-index: 200;
	padding: 2rem;
	color: #696968;
	background: rgba(255, 255, 255, 0.65);
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	transform: translate3d(0, 50%, 0);
	opacity: 0;
	border-radius: 1rem;
	text-align: center;
	transition: all 1s ease-in-out;
}
.welcomeContainer {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	pointer-events: none;
}
.label {
	transition: all 1s;
	opacity: 0;
	font-size: calc(30px + (57 - 30) * ((100vw - 320px) / (1440 - 320)));
	color: white;
	text-shadow: 0 5px 10px rgb(34, 34, 34);
	transform: translate3d(0, 50%, 0);
}
.subLabel {
	transition: all 1s;
	opacity: 0;
	margin-top: 1rem;
	font-size: calc(15px + (27.5 - 15) * ((100vw - 320px) / (1440 - 320)));
	color: white;
	text-shadow: 0 5px 10px rgb(34, 34, 34);
	transform: translate3d(0, -50%, 0);
}
.line {
	transition: all 1s;
	content: '';
	width: 0px;
	height: 10px;
	color: white;
	filter: drop-shadow(0 5px 10px rgb(34, 34, 34));
	background-color: white;
}
.fade {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}
.lineWidth {
	width: 100%;
}
.show {
	opacity: 1;
}
.appear {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}
.vanish {
	transform: translate3d(0, 50%, 0);
	opacity: 0;
}
@media (orientation: portrait) {
	.info {
		top: auto;
		bottom: 5%;
		right: 5%;
	}
}
@media only screen and (max-width: 420px) {
	.welcome {
		width: 70%;
	}
}

@keyframes rightC {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-65%);
	}
}

@keyframes grow {
	from {
		transform: scale(90%);
	}
	to {
		transform: scale(105%);
	}
}
